.body_font {
  min-height: 100vh;
  background: url("../Assets/img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.error-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.error{
  text-decoration: inherit;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: large;
  color: var(--secondary-color);
}
h1 {
  font-size: 50rem;
  text-align: center;
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
strong {
  font-weight: unset;
}
.error:hover{
  color: red;
}