
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.cookie-popup {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cookie-popup.show {
  right: 20px;
}

.cookie-popup .cookie-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cookie-header .icon-cookie {
  color: blueviolet;
  font-size: 32px;
}

.cookie-header h2 {
  color: blueviolet;
  font-weight: 500;
}

.cookie-popup .data {
  margin-top: 16px;
}

.cookie-popup .data p {
  color: #333;
  font-size: 16px;
}

.data p a {
  color: blueviolet;
  text-decoration: none;
}

.data p a:hover {
  text-decoration: underline;
}

.cookie-popup .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: blueviolet;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}

.buttons #acceptBtn:hover {
  background-color: rgb(85, 26, 141);
}

#declineBtn {
  border: 2px solid blueviolet;
  background-color: #fff;
  color: blueviolet;
}

#declineBtn:hover {
  background-color: blueviolet;
  color: #fff;
}
