
  .separation {
    margin: 20px;
    display: flex;
    padding-left: 5%;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-size: 40px;
    text-decoration: underline 7.5px blueviolet;
  }